.item1 {
  grid-area: header;
  color: antiquewhite;
}
.item2 {
  grid-area: menu;
  color: antiquewhite;
}
.item3 {
  grid-area: main;
  color: antiquewhite;
}
.item4 {
  grid-area: right;
  color: antiquewhite;
}
.item5 {
  grid-area: footer;
  color: antiquewhite;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  gap: 10px;
  background-color: #6e7072;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
